<table class="table is-striped is-hoverable">
  <thead>
  <tr class="is-size-7">
    <th class="has-text-grey-light">Código</th>
    <th class="has-text-grey-light">Descrição</th>
  </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
  {{#each cids as |entrada|}}
    {{exibe-entrada-cid entrada}}
  {{/each}}
  </tbody>
</table>

<b>{{mensagem}}</b>