<table class="table is-striped is-hoverable">
  <thead>
  <tr class="is-size-7">
    <th class="has-text-grey-light">Código</th>
    <th class="has-text-grey-light">Descrição</th>
  </tr>
  </thead>
  <tfoot></tfoot>
  <tbody class="tabelaCID">
  {{#each cids as |entrada|}}
    {{exibe-entrada-cid entrada}}
  {{/each}}
  </tbody>
</table>