<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Universidade Federal de Goiás (UFG)
      </h1>
      <h2 class="subtitle">
        Comissão de Governança em Informação em Saúde (CGIS)<br>
        Fábrica de Software (Instituto de Informática)
      </h2>
      {{#link-to "index" class="button"}}
        Home
      {{/link-to}}
    </div>
  </div>
</section>