<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Classificação Internacional de Doenças (CID-10)
      </h1>
      <h2 class="subtitle">
        Encontre o código correto.
      </h2>
      {{#link-to "about" class="button about"}}
        Informações
      {{/link-to}}
    </div>
  </div>
</section>


{{#filtra-cid filter=(action "filtraPorParte") as |resultado|}}

  <div class="section">
    {{exibe-cids cids=resultado}}
  </div>

{{/filtra-cid}}

<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">Comissão de Governança da Informação em Saúde<br>
      Universidade Federal de Goiás</div>
      <div class="column is-4">Fábrica de Software<br>Instituto de Informática<br>Faculdade de Odontologia</div>
      <div class="column is-4">Github</div>
    </div>
  </div>
</footer>

